$lobster: bisque;
$border: red;

body{
	background-color: $lobster;
}

h1{
	text-align: center;
}

.main-container {
  border: 2px dashed $border;
}

.searchBox {
  margin-top: 9px;
}

.auth-form input{
  display: block;
}
