<h1>Todo List</h1>
<!-- you can iterate over an object with (key, <thing>), but can't use that here because filter needs an array -->
<div ng-repeat="thingy in items | filter: {task: searchText.search}" >
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <!-- Make item a link so we can look at it alone -->
      <div class="col-xs-7"><a ng-href="#/items/{{thingy.id}}">{{thingy.task}}</a></div>
      <div class="col-xs-2">{{thingy.dueDate}}</div>
      <div class="col-xs-1">{{thingy.assignedTo}}</div>            
      <div class="col-xs-1"><button class="btn btn-danger" ng-click="itemDelete(thingy.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
    </div>
  </div>
</div>
